.input {
	display: flex;
	position: relative;
	border-bottom: 1px solid #ccc;
	line-height: inherit;

	> input,
	> textarea {
		flex-grow: 1;
		padding: 0;
		border: 0;
		color: #aaa;
		font: inherit;
		transition: padding .2s ease-out;

		&::-webkit-input-placeholder {
			color: #ddd;
		}

		&::-moz-placeholder {
			color: #ddd;
			opacity: 1;
		}

		&:-ms-input-placeholder {
			color: #ddd;
		}

		&:-moz-placeholder {
			color: #ddd;
		}

		&:focus {
			color: #444;
			outline: 0;
		}
	}
}

.icon {
	width: 36px;
	padding: 0;
	border: 0;
	background: transparent no-repeat right center / 24px;
	font: inherit;
	font-size: 12px;
	font-weight: 400;
	text-indent: -999em;

	&:focus {
		outline: 0;
	}
}

.iconEye {
	background-image: svg-load('../images/icon-eye.svg', fill: #999);
	opacity: .5;
	transition: opacity .2s ease-out;

	&.iconActive {
		opacity: 1;
	}
}

.toggle {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 30px;

	input {
		display: none;
	}
}

.slider {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 30px;
	background-color: #ccc;
	cursor: pointer;
	transition: .4s;

	&::before {
		content: '';
		position: absolute;
		bottom: 3px;
		left: 3px;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background-color: #fff;
		transition: .4s;

		input:checked + & {
			transform: translateX(30px);
		}
	}

	input:checked + & {
		background-color: #66bb6a;
	}
}
