@value * as v from '@ocm/core/dist/styles/vars.css';

.container {
	position: relative;
	width: 250px;
	height: 100%;
}

.fileList {
	overflow: auto;
	height: 100%;
}

.item {
	overflow: hidden;
	display: block;
	width: 100%;
	padding: 0 6px 0 32px;
	border: 0;
	background: transparent no-repeat 6px center / 20px;
	font: inherit;
	font-size: 14px;
	line-height: 24px;
	text-align: left;
	text-overflow: ellipsis;
	transition: background-color .2s ease-out;
	white-space: nowrap;

	&:focus {
		outline: 0;
	}
}

.selected {
	background-color: color(v.c-blue a(10%));
}

.directory {
	background-image: svg-load('../images/icon-directory.svg', fill: #999);
}

.file {
	background-image: svg-load('../images/icon-file.svg', fill: #999);
}
