.container {
	width: 480px;
	padding: 24px;
}

.details {
	display: flex;
	flex-wrap: wrap;

	dt,
	dd {
		flex-grow: 0;
		flex-shrink: 0;
	}

	dt {
		width: 30%;
		font-weight: 400;
	}

	dd {
		width: 70%;
		margin: 0;
	}
}
