.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 56px;
	border-bottom: 1px solid #ddd;
}

.title {
	padding: 0 0 0 16px;
	font-size: 24px;
	line-height: 56px;
}

.close {
	display: block;
	width: 56px;
	height: 56px;
	padding: 0;
	border: 0;
	background: transparent svg-load('../images/icon-close.svg', fill: #999) no-repeat center / 24px;
	text-indent: -999em;

	&:focus {
		outline: 0;
	}
}

.body {
	padding: 16px;
}
